<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.makulu.dota2me">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".DotaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/dota_icon"
        android:label="@string/app_name">
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="landscape" />
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name=".MatchDetailActivity"
            android:launchMode="singleInstance"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="landscape" />
    </application>
</manifest>
